<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <title>CareMerge Control Flow Test</title>

</head>

<body>


  <div>
    <h5>Address Titles</h5>


    <ul>
      <% results.forEach(function(result) { %>

      <%if (result.title) { %>
      <li style="color:green;">
        <small>
          <%= result.url %> -
          "<%= result.title %>"
        </small>

      </li>

      <% }else{ %>

      <li style="color:red;">
        <small>
          <%= result.url %> -
          <%= result.error %>
        </small>

      </li>

      <% } %>
      <% }); %>
    </ul>

  </div>

</body>

</html>